[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kubernetes = "==11.0.0"
openshift = "==0.11.2"
pyyaml = "==6.0"
jupyterhub-singleuser-profiles = {ref = "5ae92d34331c4123ace9d8d389a6cbd343fa6814",git = "https://github.com/eformat/jupyterhub-singleuser-profiles.git", editable = true}
oauthenticator = {ref = "15.1.0",git = "https://github.com/jupyterhub/oauthenticator.git", editable = true}
jupyterhub-traefik-proxy = {ref = "b468da04bf0057e9baeb458de6c3f9f677cfb79e", git = "https://github.com/opendatahub-io/traefik-proxy.git", editable = true}
jupyterhub-idle-culler = "==1.2.1"
jupyterhub = ">=3.0"

[requires]
python_version = "3.8"
