[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kubernetes = "==11.0.0"
openshift = "==0.11.2"
jupyterhub-singleuser-profiles = {ref = "de8ed414d5024913dfa1bdd52813e55c1f15d1cf",git = "https://github.com/eformat/jupyterhub-singleuser-profiles.git", editable = true}
publish-service = {ref = "d17a2bdb84d40401b77b890c000ecd375bf598f6",git = "https://github.com/vpavlin/jupyter-publish-extension.git", editable = true}
oauthenticator = {ref = "15.1.0",git = "https://github.com/jupyterhub/oauthenticator.git", editable = true}
jupyterhub-idle-culler = "==1.2.1"
jupyterhub = ">=3.0"

[requires]
python_version = "3.8"
